{% if basic_cart.notempty %}
    </div>
    <div class="basic_cart-min-item cell">
      <span class="basic_cart-min-item-image">
        <a href="{{ basic_cart.min_url }}" class="use-ajax">
          <img src="{{ basic_cart.module_url }}/images/min.png"/>
        </a>
      </span>
    </div>
  </div>
</div>
{% endif %}

  
